$primary: rgb(235 235 235);
$text-primary: rgb(50 60 80);
$background: rgb(255 255 255);
$secondary: rgb(220 220 225);
$dark-grey: rgb(56 65 85);
$border-primary: rgb(130 140 150);
$text-secondary: rgb(150 155 155);
$background-opacity:  rgb(251 250 250);
$join-light-blue: rgb(179, 217, 255);
$create-light-green: rgb(182, 229, 201);
$text-primary-light: rgb(68, 78, 98);